.projects-container {
  width: "100%";
  margin-block: 50px;
  text-align: center;

  > h1 {
    font-size: 2rem;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }
}

.projects-content {
  width: 80%;
  margin: auto;
}

.projects {
  margin-top: 30px;

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    color: var(--color-gray);
    padding-block: 20px;
  }
}

.button-container {
  margin-top: 20px;
}

.view-more {
  margin-top: 30px;
  font-weight: 600;
}
