.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  margin: auto;
  margin-top: 10em;
  width: 83%;
}

.content {
  display: grid;
  justify-content: center;
  align-content: start;
  text-align: start;
  width: 80%;
  margin-inline: auto;

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

.contact-form {
  width: 500px;
  background: var(--primary-color);
  border-radius: 4px;
  opacity: 0.9;

  .form {
    color: var(--text-white);
    padding: 2em;

    h2 {
      text-align: center;
      font-size: 1.5rem;
    }

    label {
      display: block;
      font-size: 0.9rem;
      margin-top: 1.5rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
      width: 100%;
      border: 0;
      outline: none;
      margin-top: 1.5em;
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      padding: 0.6em 0 0.5em 0;
      color: var(--text-white);
      border-bottom: 2px solid var(--text-white);
      display: inline-block;
      box-sizing: border-box;
      background: transparent;
    }

    button {
      margin-top: 2em;
      outline: none;
      border: 0;
      font-size: 1rem;
      font-weight: 600;
      width: 8em;
      height: 3em;
      border-radius: 30px;
      color: var(--primary-color);
      background: var(--text-white);
      box-shadow: -11px 12px 41px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: -11px 12px 41px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -11px 12px 41px 0px rgba(0, 0, 0, 0.5);
      transition: transform 250ms ease-in-out 100ms;
    }

    button:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 250ms ease-in-out;
    }

    .error__msg {
      color: hotpink;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
