.nav-container {
  width: 100%;
  background-color: #6700ee;
  height: 50px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

// navbar logo, links and social media links
.nav-container {
  display: flex;
  align-items: center;
}

.nav-container .logo {
  color: #08f7e8;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex: 1;
  margin-left: 32px;
  padding: 10px;
  letter-spacing: 0.1em;
}

.nav-container .hamburger {
  margin-right: 22px;
  width: 5px;
  height: 1px;
  background-color: white;
}

.main-links {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  height: 100px;
  background-color: white;
  font-size: 13px;
}

.main-links .nav-links li {
  padding-block: 5px;
}

// .main-links .nav-links {
//   display: flex;
// }

// .main-links .nav-links .link-item {
//   font-size: 10px;
//   color: #fff;
//   font-weight: bold;
//   padding: 10px;
// }

// .main-links .nav-links:last-child {
//   margin-right: 34px;
// }

.social-links {
  display: none;
}

//hero section
.hero-section {
  background-color: #6b18da;
  height: 214px;
  position: relative;
}

.hero-text {
  position: absolute;
  width: 100%;
  top: 13px;
  left: 0px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.hero-text h1 {
  color: #fff;
  width: 272px;
  height: 70px;
  font-size: 18px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.hero-text p {
  color: #ff45ec;
  font-size: 8px;
  width: 196px;
  height: 20px;
  margin: auto;
  padding: 10px;
  line-height: 10px;
  text-align: center;
}
