.nav-container {
  width: 100%;
  background-color: #6700ee;
  height: 50px;
}

.nav-container {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.nav-container .logo {
  color: #08f7e8;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex: 1;
  margin-left: 22px;
  padding: 10px;
  letter-spacing: 0.1em;
}

.main-links .nav-links {
  display: flex;
}

.main-links .nav-links .link-item {
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.main-links .nav-links:last-child {
  margin-right: 34px;
}

.social-links {
  display: none;
}

.hero-section {
  background-color: #6b18da;
  height: 214px;
  display: grid;
  text-align: center;
}

.hero-text {
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.hero-text h1 {
  color: #fff;
  width: 272px;
  height: 70px;
  font-size: 18px;
  margin: auto;
  margin-top: 13px;
  text-align: center;
  padding: 10px;
  line-height: 35px;
}

.hero-text p {
  color: #ff45ec;
  font-size: 8px;
  width: 196px;
  height: 20px;
  margin: 8px auto 13px auto;
  padding: 10px;
  line-height: 10px;
  text-align: center;
}

.scroll-icon {
  margin: auto;
}
