.featured-container {
  width: 100%;
  margin-top: 50px;
}

.featured-content {
  padding: 20px 100px;
  text-align: center;
  letter-spacing: 0.02em;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    color: var(--color-gray);
    padding-block: 20px;
  }

  img {
    width: 500px;
    height: 100%;
    object-fit: contain;
  }
}

.featured-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 414px) {
  .featured-content {
    padding: 50px 20px;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.9rem;
    }

    img {
      width: 100%;
    }
  }
}
